* {
  margin: 0;
  padding: 0;
}

.font-work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}

/* shared items */

.primary-text {
  font-size: 16px;
  color: rgba(68, 67, 67, 1);
}

.btn-primary {
  background-color: #f15b22;
  color: white;
  padding: 21px 25px 19px 26px;
  border: none !important ;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
}

/* start header section */
header {
  background-image: url("../images/banner/banner1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 808px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.header-content {
  margin: 216px 230px 160px 845px;
  text-align: right;
}

.header-content h1 {
  font-size: 65px;
  margin-bottom: 24px;
  color: rgba(21, 20, 20, 1);
}

.header-content p {
  line-height: 26px;
  margin-bottom: 32px;
}

/* end header section */

/* start main section */


.section-content {
  width: 1072px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 113px auto;
  gap: 87px;
}

.section-info{
    width: 416px;
    margin-top: 95px;
}

.section-info h2 {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.section-info .list{
    gap: 8px;
    line-height: 30px;
}
.section-info p {
  line-height: 26px;
  margin-bottom: 16px;
}

.section-info i{
    color: #16D887;
}

.section-info ul li{
    list-style: none;
    gap: 8px;

}
/* end main section */

/* start plans section */
.plans-container{
    width: 71% ;
    max-width: 1148px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.plans-container .plans-heading{
    font-size: 44px;
    font-weight: bold;
    color: rgba(21, 20, 20, 1);
    margin-bottom: 55px;
}

.plans-list{
    display: flex;
    justify-content: space-between;
}

.list-info img{
    width: 92px;
    margin-bottom: 18px;
}

.plans-list h3{
    font-size: 30px;
    margin-bottom: 16px;
}

.plans-list p{
    font-size: 25px;
    color: rgba(115, 114, 114, 1);
}
/* end plans section */
